Source/Code/WebSite/Service References/WsDocumentos/WSDocumentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDocumentos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="soap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="soap11_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lusitania.Model.Portais.PortalMediador.Documentos" />
      <xsd:import schemaLocation="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Lusitania.LusnetBase" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSDocumentos_obterListasSegundasVias_InputMessage">
    <wsdl:part name="parameters" element="tns:obterListasSegundasVias" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterListasSegundasVias_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterListasSegundasViasResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoPorWorkspace_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoPorWorkspace" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoPorWorkspace_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoPorWorkspaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoApolicePorDocId_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoApolicePorDocId" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoApolicePorDocId_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoApolicePorDocIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoSinistroPorDocId_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoSinistroPorDocId" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentoSinistroPorDocId_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentoSinistroPorDocIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentacaoProcesso_InputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentacaoProcesso" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_obterDocumentacaoProcesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterDocumentacaoProcessoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_indexarDocumentoApolice_InputMessage">
    <wsdl:part name="parameters" element="tns:indexarDocumentoApolice" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_indexarDocumentoApolice_OutputMessage">
    <wsdl:part name="parameters" element="tns:indexarDocumentoApoliceResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_RecuperaDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDocumentos" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_RecuperaDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_insereOutputDocUploadOnlineGuidDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:insereOutputDocUploadOnlineGuidDoc" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_insereOutputDocUploadOnlineGuidDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:insereOutputDocUploadOnlineGuidDocResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_insereOutputDocUploadOnlineXML_InputMessage">
    <wsdl:part name="parameters" element="tns:insereOutputDocUploadOnlineXML" />
  </wsdl:message>
  <wsdl:message name="IWSDocumentos_insereOutputDocUploadOnlineXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:insereOutputDocUploadOnlineXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSDocumentos">
    <wsdl:operation name="obterListasSegundasVias">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/obterListasSegundasVias" message="tns:IWSDocumentos_obterListasSegundasVias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/obterListasSegundasViasResponse" message="tns:IWSDocumentos_obterListasSegundasVias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoPorWorkspace">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoPorWorkspace" message="tns:IWSDocumentos_obterDocumentoPorWorkspace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoPorWorkspaceResponse" message="tns:IWSDocumentos_obterDocumentoPorWorkspace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoApolicePorDocId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoApolicePorDocId" message="tns:IWSDocumentos_obterDocumentoApolicePorDocId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoApolicePorDocIdResponse" message="tns:IWSDocumentos_obterDocumentoApolicePorDocId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoSinistroPorDocId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoSinistroPorDocId" message="tns:IWSDocumentos_obterDocumentoSinistroPorDocId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentoSinistroPorDocIdResponse" message="tns:IWSDocumentos_obterDocumentoSinistroPorDocId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterDocumentacaoProcesso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentacaoProcesso" message="tns:IWSDocumentos_obterDocumentacaoProcesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/obterDocumentacaoProcessoResponse" message="tns:IWSDocumentos_obterDocumentacaoProcesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="indexarDocumentoApolice">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/indexarDocumentoApolice" message="tns:IWSDocumentos_indexarDocumentoApolice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/indexarDocumentoApoliceResponse" message="tns:IWSDocumentos_indexarDocumentoApolice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/RecuperaDocumentos" message="tns:IWSDocumentos_RecuperaDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/RecuperaDocumentosResponse" message="tns:IWSDocumentos_RecuperaDocumentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineGuidDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineGuidDoc" message="tns:IWSDocumentos_insereOutputDocUploadOnlineGuidDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineGuidDocResponse" message="tns:IWSDocumentos_insereOutputDocUploadOnlineGuidDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineXML" message="tns:IWSDocumentos_insereOutputDocUploadOnlineXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineXMLResponse" message="tns:IWSDocumentos_insereOutputDocUploadOnlineXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IWSDocumentos">
    <wsp:PolicyReference URI="#soap_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterListasSegundasVias">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/obterListasSegundasVias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoPorWorkspace">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoPorWorkspace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoApolicePorDocId">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoApolicePorDocId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoSinistroPorDocId">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoSinistroPorDocId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentacaoProcesso">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentacaoProcesso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexarDocumentoApolice">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/indexarDocumentoApolice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaDocumentos">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/RecuperaDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineGuidDoc">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineGuidDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineXML">
      <soap12:operation soapAction="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="soap11" type="tns:IWSDocumentos">
    <wsp:PolicyReference URI="#soap11_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterListasSegundasVias">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/obterListasSegundasVias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoPorWorkspace">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoPorWorkspace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoApolicePorDocId">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoApolicePorDocId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentoSinistroPorDocId">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentoSinistroPorDocId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterDocumentacaoProcesso">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/obterDocumentacaoProcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexarDocumentoApolice">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/indexarDocumentoApolice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaDocumentos">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/RecuperaDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineGuidDoc">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineGuidDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insereOutputDocUploadOnlineXML">
      <soap:operation soapAction="http://tempuri.org/IWSDocumentos/insereOutputDocUploadOnlineXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDocumentos">
    <wsdl:port name="soap" binding="tns:soap">
      <soap12:address location="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc/WSDocumentos.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc/WSDocumentos.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/Q_APPFABRIC.lusitania-cs.pt</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="soap11" binding="tns:soap11">
      <soap:address location="https://servicebusq.lusitania.pt/GeralPortais/Servicos/WSDocumentos.svc/WSDocumentos11.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>