Source/Code/WebSite/Service References/WsPlanos/WSPlanos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelPlanos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelPlanos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContractList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contract" nillable="true" type="tns:ArrayOfContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractList" nillable="true" type="tns:ContractList" />
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParamList" nillable="true" type="tns:ParamList" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
  <xs:complexType name="ParamList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Param" nillable="true" type="tns:ArrayOfParam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamList" nillable="true" type="tns:ParamList" />
  <xs:complexType name="ArrayOfParam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Param" nillable="true" type="tns:Param" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParam" nillable="true" type="tns:ArrayOfParam" />
  <xs:complexType name="Param">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Param" nillable="true" type="tns:Param" />
</xs:schema>